

body {
  /* background-color: #0A0A0A; */
  color: #F0F0F0;
  font-family: 'Arial', sans-serif;
  /* Use a clean, modern font */
}
html{
  scroll-behavior:smooth ;
}
.active-link {
  color: #00796B !important;
  font-weight: 600;
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #CBF3F0;
  border-radius: 9999px;
  transition: width 0.3s ease;
}